@model ApplicationRole
@{
    ViewData["Title"] = "Details";
}

<h1>Role Details</h1>
<hr />
<hr />

<div class="form-group">
    <label asp-for="Name" class="col-form-label"></label>
    <input asp-for="Name" class="form-control" readonly/>

    <label asp-for="CreatedAt" class="col-form-label"></label>
    <input asp-for="CreatedAt" class="form-control" readonly/>
    <br />
    <a asp-controller="Roles" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-success">Update</a>
    <a asp-controller="Roles" asp-action="Index" class="btn btn-light">Back To List</a>
</div>
