
@{
    ViewData["Title"] = "CompleteForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>CompleteForgetPassword</h1>

<div class="main-agileinfo">
    <div class="agileits-top">
        <p>Password Reset Link Has been sent to your Email Please Check Your Inbox</p>
        <a href="https://mail.google.com/mail/u/0/#inbox">Gmail</a>
    </div>
</div>
