@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ForgetPassword</h1>

<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-controller="Account" asp-action="ForgetPassword">
            <input asp-for="Email" class="text email" type="email" placeholder="Email" required="">
            <span asp-validation-for="Email" class="text-danger"></span>

            <input type="submit" value="ForgetPassword">
        </form>
    </div>
</div>